body {
  background-color: #ffffaa;
}

.header {
  text-align: center;
  background-color: coral;
}

.footer {
  text-align: center;
  background-color: coral;
}

table {
  display: flex;
  height: 500px;
}

input.button {
  border-bottom: 5px solid #9f000c;
  background-color: hotpink;
}
input.button:hover {
  margin-top: 3px;
  border-bottom: 2px solid #9f000c;
}

input.button {
  border-radius: 100vh;
}
